<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="form">
      <div class="x_panel">
        <div class="x_title">
          <h2>敵パーティ入力</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <%= form_tag({:controller => :analysis, :action => :index}) do %>
              <table class="table">
                <% 6.times do |i| %>
                  <tr><td><input type="text" name="party_member[]" data-autocomplete="autocomplete_pokemon_name"></td></tr>
                <% end %>
              </table>
              <button type="submit" class="btn btn-primary">Submit</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-sm-4 col-xs-12">
    <div class="result">
      <div class="x_panel">
        <div class="x_title">
          <h2>Result</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="table">
            <thead>
              <tr>
                <th><%= "ポケモン名" %></th>
                <th><%= "持ち物" %></th>
                <th><%= "わざ1" %></th>
                <th><%= "わざ2" %></th>
                <th><%= "わざ3" %></th>
                <th><%= "わざ4" %></th>
              </tr>
            </thead>

            <tbody>
              <% @result_hash.each do |poke_name,info_hash| %>
                <tr>
                  <td><%= poke_name %></td>
                  <td><%= info_hash["item"] %></td>
                  <td><%= info_hash["move1"] %></td>
                  <td><%= info_hash["move2"] %></td>
                  <td><%= info_hash["move3"] %></td>
                  <td><%= info_hash["move4"] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

