<div class="menu" id="menu">
    <ul>
      <% if current_page?(top_page_index_path) or current_page?(root_path) %>
        <li class="text-shadowOn"><%= link_to image_tag('/images/top_page_on.png',:size => "180x36",:id => "title"),top_page_index_path %></li>
      <% else %>
        <li class="text-shadowOn"><%= link_to image_tag('/images/top_page_off.png',:size => "180x36",:id => "title"),top_page_index_path %></li>
      <% end %>

      <% if current_page?(analysis_index_path) %>
        <li class="text-shadowOn"><%= link_to image_tag('/images/analysis_page_on.png',:size => "180x36",:id => "title"),analysis_index_path %></li>
      <% else %>
        <li class="text-shadowOn"><%= link_to image_tag('/images/analysis_page_off.png',:size => "180x36",:id => "title"),analysis_index_path %></li>
      <% end %>

      <% if current_page?(rate_data_path) %>
        <li class="text-shadowOn"><%= link_to image_tag('/images/rate_data_page_on.png',:size => "180x36",:id => "title"),rate_data_path %></li>
      <% else %>
        <li class="text-shadowOn"><%= link_to image_tag('/images/rate_data_page_off.png',:size => "180x36",:id => "title"),rate_data_path %></li>
      <% end %>

      <% if current_page?(register_index_path) %>
        <li class="text-shadowOn"><%= link_to image_tag('/images/party_page_on.png',:size => "180x36",:id => "title"),register_index_path %></li>
      <% else %>
        <li class="text-shadowOn"><%= link_to image_tag('/images/party_page_off.png',:size => "180x36",:id => "title"),register_index_path %></li>
      <% end %>

      <% if current_page?(battle_data_path) %>
        <li class="text-shadowOn"><%= link_to image_tag('/images/info_page_on.png',:size => "180x36",:id => "title"), battle_data_path %></li>
      <% else %>
        <li class="text-shadowOn"><%= link_to image_tag('/images/info_page_off.png',:size => "180x36",:id => "title"), battle_data_path %></li>
      <% end %>
    </ul>
</div>