<!DOCTYPE html>
<html lang="ja">
<head>
  <title>ポケモン対戦支援サイト（仮）</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="css/mydesign.css" rel="stylesheet">
</head>
<body class="nav-md">
<%= render 'layouts/top' %>
    <div class="row">
      <!--メニューここから-->
<% if nil %>
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <%= render 'layouts/sidebar' %>
        </div>
      </div>
<% end %>
      <!--メニューここまで-->

      <div class="top_nav">
        <div class="nav_menu">
          <% if notice %>
            <p class="alert alert-info"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-info"><%= alert %></p>
          <% end %>
<% if nil %>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.present? %>
              <li><a href="javascript:void(0);">
                <%= "UserName:#{current_user.username}" %>
              </a></li>
              <li><%= link_to "ログアウト", destroy_user_session_path %></li>
            <% else %>
              <li><%= link_to "ログイン", user_omniauth_authorize_path(:twitter) %></li>
            <% end %>
          </ul>
        </div>
<% end %>
      </div>

      <!--パーティー登録ここから-->
      <div class="col-md-9 left-col" role="main">
        <%= yield %>
      </div>
      <!--パーティ登録ここまで-->
    </div>
</body>
</html>
